@import "tailwindcss";

@theme {
  --color-yellow: #e7d393;
  --color-white-100: #efefef;
  --font-sans: "Mona Sans", sans-serif;
  --font-modern-negra: "Modern Negra", sans-serif;
  --font-serif: "DM Serif Text", serif;
}

html,
body {
  width: 100%;
  background-color: black;
  color: white;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

@utility flex-center {
  @apply flex justify-center items-center;
}

@utility col-center {
  @apply flex flex-col justify-center items-center;
}

@utility abs-center {
  @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

@utility text-gradient {
  @apply bg-linear-to-b from-white to-[#898989] bg-clip-text text-transparent;
}

@utility radial-gradient {
  @apply bg-radial-[circle_at_center,_#434343_0%,_#000_50%,_transparent_100%];
}

@utility masked-img {
  @apply mask-[url("/images/mask-img.webp")] mask-no-repeat mask-center mask-size-[70%];
}

@utility noisy {
  @apply absolute inset-0 size-full bg-[url("/images/noise.webp")];
}

@utility heroTitle {
  @apply bg-gradient-to-b from-white to-95% to-transparent !text-transparent !bg-clip-text;
}

@layer components {
  #Hero {
    @apply min-h-dvh relative z-10 border border-transparent noisy;

    h1 {
      @apply !mt-32 !text-8xl md:!text-[20vw] text-center !font-modern-negra;
    }

    .left-leaf {
      @apply absolute w-1/3 md:w-60 h-auto left-0 md:top-20 xl:top-36 2xl:top-52 -bottom-20 md:bottom-auto;
    }

    .right-leaf {
      @apply absolute w-24 md:w-60 right-0 md:bottom-0 xl:top-0 2xl:top-1 top-1/2;
    }

    .arrow {
      @apply absolute hidden md:block w-8 right-10 top-1/2;
    }

    .body {
      @apply absolute left-1/2 -translate-x-1/2 lg:bottom-20 top-auto md:top-[30vh] flex justify-between items-end;

      .content {
        @apply flex lg:flex-row flex-col w-full gap-10 justify-between items-center lg:items-end mx-auto;

        a {
          @apply !font-semibold opacity-80 text-center 2xl:text-start !text-yellow duration-300 hover:opacity-100;
        }
      }
    }
  }

  video {
    @apply w-full h-1/2 md:h-[80%] absolute bottom-0 left-0 object-bottom md:object-contain object-cover;
  }

  #Mocktails {
    @apply min-h-dvh relative overflow-hidden noisy;

    .left-leaf {
      @apply absolute w-1/3 md:w-60 left-0 bottom-0 top-auto;
    }

    .right-leaf {
      @apply absolute w-1/3 md:w-60 right-0 bottom-0 top-auto;
    }

    .list {
      @apply relative z-10 flex flex-col md:flex-row justify-between items-start gap-20 pt-96 md:pt-40;

      div {
        @apply space-y-8 w-full md:w-fit;

        h2 {
          @apply !text-xl !font-medium;
        }

        ul {
          @apply space-y-8;

          li {
            @apply flex !justify-between !items-start;

            div {
              @apply me-28;

              h3 {
                @apply !font-modern-negra !text-xl 2xl:!text-3xl !text-yellow;
              }

              p {
                @apply !text-sm;
              }
            }

            span {
              @apply !text-xl !font-medium text-nowrap;
            }
          }
        }
      }
    }
  }

  #About {
    @apply min-h-dvh py-28;

    .badge {
      @apply inline-block rounded-full bg-white text-black px-4 py-2 !text-sm !font-medium !mb-8;
    }

    h2 {
      @apply !text-5xl md:!text-6xl !font-modern-negra !max-w-lg;
    }

    .top-grid,
    .bottom-grid {
      >div {
        @apply !rounded-3xl overflow-hidden h-48 md:h-72 xl:h-80 !relative;
      }

      .card {
        @apply !bg-linear-180 from-[#313131] to-[#0F0F0F];

        h3 {
          @apply !text-[#FFFFFF] !text-3xl md:!text-4xl !font-modern-negra md:text-center w-full text-nowrap;
        }
      }

      img {
        @apply object-cover w-full h-full;
      }
    }
  }

  #TheArt {
    @apply min-h-dvh relative flex flex-col items-center justify-start radial-gradient py-16;

    h2 {
      @apply !text-8xl md:!text-[20vw] !text-nowrap leading-none !font-modern-negra bg-[url('/images/noise.webp')] bg-[#505050] text-transparent bg-clip-text 
             absolute top-16 md:top-10 xl:-top-12;
    }

    .mocktail-img {
      @apply w-full xl:w-[60vw] h-[50vh] xl:h-[70vh] rounded-4xl overflow-hidden mx-auto relative z-20;
    }

    .content-wrapper {
      @apply w-full flex flex-col md:flex-row items-start md:items-center justify-between absolute top-1/2 md:top-2/3 lg:top-1/3 mt-8 md:mt-0;

      ul {
        @apply w-full md:w-fit;

        li {
          @apply flex items-center gap-x-2 text-nowrap;
        }
      }
    }

    .masked-container {
      @apply -mt-22 md:mt-6 w-full flex flex-col items-center order-3 md:order-[9999];

      h3 {
        @apply !text-4xl md:!text-5xl !font-modern-negra !text-center !mb-2 !text-white;
      }

      .masked-content {
        @apply opacity-0 !space-y-5 text-center mt-20 md:mt-0;

        h4 {
          @apply !text-2xl md:!text-5xl !font-serif !font-semibold !mx-auto !max-w-xs md:!max-w-full !text-white;
        }

        p {
          @apply !text-lg;
        }
      }
    }
  }

  #Menu {
    @apply relative min-h-dvh py-10 radial-gradient;

    .left-leaf {
      @apply object-contain absolute -bottom-20 left-0 w-1/3 md:w-60;
    }

    .right-leaf {
      @apply object-contain absolute top-0 right-0 w-1/4 md:w-60;
    }

    button {
      @apply md:w-48 md:h-28 flex flex-col !justify-between items-center z-20;

      span {
        @apply !text-3xl !font-modern-negra capitalize leading-none hidden md:block;
      }
    }

    .details {
      @apply flex flex-row max-md:flex-col gap-5 md:gap-10 items-start md:items-center justify-between w-full lg:absolute -bottom-10;

      #title {
        @apply max-w-xs !font-modern-negra !text-3xl md:!text-6xl !text-yellow;
      }
    }
  }

  #Contact {
    @apply relative mt-0 md:mt-20 text-center radial-gradient;

    .left-leaf {
      @apply absolute w-1/3 md:w-60 left-0 bottom-0 top-auto;
    }

    .right-leaf {
      @apply absolute w-1/3 md:w-60 right-0 bottom-auto top-0;
    }

    .drink-img {
      @apply absolute w-1/3 md:w-60 right-0 bottom-0 top-auto;
    }

    h2 {
      @apply !text-5xl lg:!text-6xl 2xl:!text-8xl !font-modern-negra;
    }

    h3 {
      @apply !uppercase !text-base md:!text-lg !font-bold;
    }

    p {
      @apply !text-xl lg:!text-2xl 2xl:!text-3xl;
    }

    .Social {
      @apply !text-white duration-300 hover:!text-yellow;
    }
  }
}